# API Configuration
REACT_APP_API_URL=http://localhost:5000/api
REACT_APP_SOCKET_URL=http://localhost:5000

# Application Configuration
REACT_APP_NAME=ProTrans
REACT_APP_VERSION=0.1.0

# Google Maps API (pour les futures fonctionnalités de géolocalisation)
REACT_APP_GOOGLE_MAPS_API_KEY=your_google_maps_api_key

# Options
REACT_APP_DEFAULT_LANGUAGE=fr
REACT_APP_MAX_UPLOAD_SIZE=5242880 # 5MB en octets